@model ProySpaHelena.Models.Servicio

@{
    ViewData["Title"] = "CreateServ";
}

<h1 class="mb-4 text-success">✨ Crear Nuevo Servicio</h1>

<div class="card p-4 shadow-lg rounded-4">
    <h4 class="mb-3">Datos del Servicio</h4>
    <hr />

    <form asp-action="CreateServ">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

      

        <div class="mb-3">
            <label asp-for="Nombre" class="form-label fw-bold"></label>
            <input asp-for="Nombre" class="form-control rounded-3 shadow-sm" placeholder="Ej: Masaje Relajante" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Activo" class="form-label fw-bold"></label>
            <input asp-for="Activo" class="form-control rounded-3 shadow-sm" />
        </div>

        <div class="d-flex gap-2 mt-4">
            <button type="submit" class="spa-btn spa-btn-green">
                ✅ Crear
            </button>
            <a asp-action="Index" class="spa-btn spa-btn-blue">
                🔙 Volver a la lista
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

